<form class="create-post-container mx-auto border-dark">
  <div>
    <h2 class="bg-dark text-white create-post-title">Create New Post</h2>
  </div>
  <div class="p-2">
    <p>Title</p>
    <input class="form-control" type="text" id="post-title" name="post-title" />
  </div>
  <div class="p-2">
    <p>Content</p>
    <input class="form-control post-content-input" id="post-content" name="post-content" />
  </div>
  <div class="p-2">
    <button class="form-control btn btn-dark text-white" type="submit">Create</button>
  </div>
</form>

<script src="/javascript/create-post.js"></script>