<div class="login-container mx-auto border-dark">
  <form class="login-form">
    <h2 class="bg-dark text-white login-title">Login</h2>
    <div class="p-2">
      <label for="username-login" class="text-dark">Username</label>
      <input type="text" id="username-login" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <label for="password-login" class="text-dark">Password</label>
      <input type="password" id="password-login" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <button type="submit" class="btn btn-secondary form-control">Login!</button>
    </div>
    <div class="p-2">
        <a href="/sign-up" class="text-decoration-none">Sign up instead</a>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>