<div class="signup-container mx-auto border-dark">
  <form class="signup-form">
    <h2 class="bg-dark text-white signup-title">Sign Up</h2>
    <div class="p-2">
      <label for="username-signup" class="text-dark">Username</label>
      <input type="text" id="username-signup" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <label for="password-signup" class="text-dark">Password</label>
      <input type="password" id="password-signup" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <button type="submit" class="btn btn-secondary form-control">Sign Up!</button>
    </div>
    <div class="p-2">
        <a href="/login" class="text-decoration-none">Log in instead</a>
    </div>
  </form>
</div>

<script src="/javascript/signup.js"></script>